<script setup lang="ts">
import MainLayout from "./layouts/MainLayout.vue";
import FullLayout from "./layouts/FullLayout.vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
import MessageBox from "@/components/MessageBox.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageBox></MessageBox>
</template>
